<<<<<<< HEAD

#userPassIncorrect{
    color: #FF0000;
}

#user, #password{
    border: 0px;
    border-bottom: 1px solid map-get($colors, principal03);
}

.userPassIncorrect{
    color: #FF0000;
    border: 0px !important;
    border-bottom: 2px solid map-get($colors, #FF0000) !important;
=======
#userPassIncorrect{
    color: #FF0000;
>>>>>>> e76f0e4bea88ec59f09920e53c8d092d39bc5745
}